$background-main: #513252;
$background-header: #7A4069;
$text: #F1F1F1;
$text-win: #42C34F;
$text-lose: #CA4E79;
$question-correct: #42C34F;
$question-incorrect: #CA4E79;
$button-bg-color: #CA4E79;
$button-text-color: #F1F1F1;
$table-header: #7A4069;
$table-border: #7A4069;
$table-bg: rgba(46, 46, 46, 0.25);
$variant-text: #111111;
$variant-text-action: #EFEFEF;
$variant-bg: #D9D9D9;
$variant-bg-correct: #42C34F;
$variant-bg-incorrect: #CA4E79;
$money-bar-bg: #EEEEEE;
$money-bar-fill: #CA4E79;
$next-button-bg: #CA4E79;