@font-face {
  font-family: 'MontserratRegular';
  src: url('~assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'MontserratMedium';
  src: url('~assets/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'MontserratSemiBold';
  src: url('~assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'MontserratBold', 'sans-serif';
  src: url('~assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}
